{
  "api_token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "devices": [
    { "name": "device1", "ble_mac": "YYYYYYYYYYYY" },
    { "name": "device2", "ble_mac": "ZZZZZZZZZZZZ" }
  ]
}
